<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="TradeSphereApp_DBEntities" connectionString="metadata=res://*/TradeSphereModel.csdl|res://*/TradeSphereModel.ssdl|res://*/TradeSphereModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-H0JRKJJR\SQLEXPRESS;initial catalog=TradeSphereApp_DB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SAJeweleryApp_DBEntities" connectionString="metadata=res://*/Model.TradeSphereDBModel.csdl|res://*/Model.TradeSphereDBModel.ssdl|res://*/Model.TradeSphereDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-H0JRKJJR\SQLEXPRESS;initial catalog=SAJeweleryApp_DB;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TradeSphereApp_DBEntities1" connectionString="metadata=res://*/Model.TradeSphereModel.csdl|res://*/Model.TradeSphereModel.ssdl|res://*/Model.TradeSphereModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-H0JRKJJR\SQLEXPRESS;initial catalog=TradeSphereApp_DB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>